



$translucent-form-overlay-max-width: 400px;

.translucent-form-overlay {
  max-width: $translucent-form-overlay-max-width;
  background-color: rgba(54, 54, 54, 0.8);
  padding: 40px;
  color: $white;




  // workaround 6.3.0 bug
  .columns.row {
    display: block;

  }

  h3, label {
    color: $white;
  }
  input, select {
    color: $dark-gray;
  }
  input::placeholder {
    color: $dark-gray;
  }



}
