.artist-image {

  img {
    display: block;
        margin-left: auto;
        margin-right: auto;
        width: auto;


}


}

.artist-bio {
  float:left;
  background: #222 ;
	padding: 80px 80px;
	color: rgba(255,255,255,0.8);
	font-family: "Nunito", Helvetica, Roboto, Arial, sans-serif;

}
