
<div class="grid-x grid-padding-x grid-padding-y">
      <div class"contact-form-container">

              <div class="translucent-form-overlay">
                  <form>
                    <h3>Search for Properties</h3>
                    <div class="row columns">
                        <input type="text" name="keyword" placeholder="Name">
                    </div>
                    <div class="row columns">
                    </div>
                    <div class="row columns">
                        <input type="text" name="location" placeholder="email">
                    </div>
                    <div class="row">
                      <div class="columns small-6">
                        <input type="number" min="0" name="min" placeholder="Message">
                      </div>
                    </div>
                    <button type="button" class="primary button expanded search-button">
                      Search
                    </button>
                 </form>
              </div>
        </div>
</div>
