
<div class="footer">
<div class="grid-x grid-padding-y grid-padding-x grid-margin-x grid-margin-y">
    <div class="cell medium-6 large-4">
          <ul class="no-bullet">
          <h3>CONTACT</h3>
          <hr>
            <li><i class="fa fa-phone" aria-hidden="true"><span>702-000-0000</span></i></li>
            <li><i class="fa fa-envelope" aria-hidden="true"><span>info@cnrgevents.com</span></i></li>
            <li><i class="fa fa-map-marker" aria-hidden="true"><span>Las Vegas, Nv USA</span></i></li>
          </ul>
    </div>

    <div class="cell medium-6 large-4">
          <h3>LEAVE A MESSAGE</h3>
          <hr>
          <form action="mailto:djdeniro@gmail.com">
              <div class="row column">
              <input type="text" id="first-name" placeholder="Name">
              </div>
              <div class="row column">
              <input type="text" id="subject"  placeholder="Subject">
              </div>
              <div class="row column">
              <textarea name="comment" id="comment" cols="10" rows="" placeholder="Message"></textarea>
              </div>
              <input type="submit" value="Submit" class="button contact-submit">
          </form>
    </div>


    <div class="cell medium-6 large-4">
            <ul class="no-bullet">
              <h3>@CNRGEVENTS</h3>
              <hr>
              <div class="social-bar">
                <i class="fa fa-facebook fa-2x" aria-hidden="true"></i>
                <i class="fa fa-twitter fa-2x" aria-hidden="true"></i>
                <i class="fa fa-instagram fa-2x" aria-hidden="true"></i>
              </div>
            </ul>
    </div>
</div>
</div>
