

  <div class="grid-container">
         <div class="grid-x grid-margin-x grid-margin-y grid-padding-y">

                     <div class="cell small-12 medium-6 large-4">
                       <div class="image-wrapper overlay-fade-in">
                             <a href="djs/quira.html" ><img src="{{root}}assets/img/quira-profile-crop.jpg" alt="">
                                <div class="image-overlay-content">
                                 <h2>Quira</h2>
                                 <a href="djs/quira.html" class="button">Read More</a>
                       </div></a>

                       </div>
                     </div>

                   <div class="cell small-12 medium-6 large-4">
                       <div class="image-wrapper overlay-fade-in">
                             <a href="djs/vtech.html" ><img src="{{root}}assets/img/vtech.jpg" alt="">
                                <div class="image-overlay-content">
                                 <h2>Vtech</h2>
                                 <a href="djs/vtech.html" class="button">Read More</a>
                       </div></a>

                       </div>
                     </div>
                       <div class="cell small-12 medium-6 large-4">
                       <div class="image-wrapper overlay-fade-in">
                             <a href="djs/stephik.html" ><img src="{{root}}assets/img/stephik.jpg" alt="">
                               <div class="image-overlay-content">
                                 <h2>Stephi K</h2>
                                 <a href="djs/stephik.html" class="button">Read More</a>
                       </div></a>

                       </div>
                     </div>
                    <div class="cell small-12 medium-6 large-4">
                       <div class="image-wrapper overlay-fade-in">
                             <a href="djs/kaytheriot.html" ><img src="{{root}}assets/img/kaytheriot.jpg" alt="">
                                <div class="image-overlay-content">
                                 <h2>Kay the Riot</h2>
                                 <a href="djs/kaytheriot.html" class="button">Read More</a>
                       </div></a>

                       </div>
                     </div>

                     <div class="cell small-12 medium-6 large-4">
                    <div class="image-wrapper overlay-fade-in">
                          <a href="djs/corona.html" ><img src="assets/img/corona.jpg" alt="">
                             <div class="image-overlay-content">

                              <h2>Corona</h2>
                              <a href="djs/corona.html" class="button">Read More</a>
                    </div></a>

                    </div>
                  </div>

                       <div class="cell small-12 medium-6 large-4">
                       <div class="image-wrapper overlay-fade-in">
                             <a href="djs/kaylacollins.html" ><img src="{{root}}assets/img/kaylacollins.jpg" alt="">
                                <div class="image-overlay-content">

                                 <h2>Kayla Collins</h2>
                                 <a href="djs/kaylacollins.html" class="button">Read More</a>
                       </div></a>


                       </div>
                     </div>


                     <div class="cell small-12 medium-6 large-4">
                       <div class="image-wrapper overlay-fade-in">
                             <a href="djs/sublu.html" ><img src="{{root}}assets/img/2018-sublu-profile.png" alt="">
                                <div class="image-overlay-content">

                                 <h2>Sublu</h2>
                                 <a href="djs/sublu.html" class="button">Read More</a>
                       </div></a>

                       </div>
                     </div>

                       <div class="cell small-12 medium-6 large-4">
                       <div class="image-wrapper overlay-fade-in">
                             <a href="djs/djgirl6.html" ><img src="{{root}}assets/img/djgirl6.jpg" alt="">
                                <div class="image-overlay-content">

                                 <h2>Girl6</h2>
                                 <a href="djs/djgirl6.html" class="button">Read More</a>
                       </div></a>

                       </div>
                     </div>

                       <div class="cell small-12 medium-6 large-4">
                       <div class="image-wrapper overlay-fade-in">
                             <a href="djs/wendicakes.html" ><img src="{{root}}assets/img/wendicakes.jpg" alt="">
                                <div class="image-overlay-content">

                                 <h2>Wendi Cakes</h2>
                                 <a href="djs/wendicakes.html" class="button">Read More</a>
                       </div></a>

                       </div>

                     </div>

                    <div class="cell small-12 medium-6 large-4">
                       <div class="image-wrapper overlay-fade-in">
                             <a href="djs/vonkiss.html" ><img src="assets/img/vonkiss.jpg" alt="">
                                <div class="image-overlay-content">

                                 <h2>Von Kiss</h2>
                                 <a href="djs/vonkiss.html" class="button">Read More</a>
                       </div></a>

                       </div>
                     </div>


                          <div class="cell small-12 medium-6 large-4">
                       <div class="image-wrapper overlay-fade-in">
                             <a href="djs/enoc.html" ><img src="assets/img/enoc.jpg" alt="">
                                <div class="image-overlay-content">

                                 <h2>Enoc</h2>
                                 <a href="djs/enoc.html" class="button">Read More</a>
                       </div></a>

                       </div>
                     </div>

                        <div class="cell small-12 medium-6 large-4">
                       <div class="image-wrapper overlay-fade-in">
                             <a href="djs/kriscut.html" ><img src="assets/img/kriscut.jpg" alt="">
                                <div class="image-overlay-content">

                                 <h2>Kriscut</h2>
                                 <a href="djs/kriscut.html" class="button">Read More</a>
                       </div></a>

                       </div>
                     </div>
 </div>

  </div>
